<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bravo Mama</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <div class="banner">
                <img src="./images/BM.jpg" alt="Logo" />
                <img src="./images/ezgif.com-gif-maker.gif" alt="Banner" />
            </div>
            <div class="menubar">
                <a href="/#/Home">Home</a>
                <a href="/#/All Products">All Products</a>
                <a href="/#/My Accounts">My Accounts</a>
                <a href="/#/Sign Up">Sign Up</a>
                <a href="/#/Shopping Cart">Shopping Cart</a>
                <a href="Contact Us">Contact Us</a>
                <div>
                    <input type="text" value="Search a product" />
                    <input type="submit" value="Submit" />
                </div>
            </div>

        </header>
        <main id="main-container">
            <div>
                <div>
                    <div class="sidebar">
                        <div class="Cat"><b>Categories</b></div>
                        <div class="sub-cat">
                             <a href="">Laptops</a>
                             <a href="">Camera</a>
                             <a href="">Mobiles</a>
                             <a href="">Computers</a>
                             <a href="">iPads</a>
                             <a href="">iPhones</a>

                        </div>
                        <div class="Brand"><b>Brand</b></div>
                        <div class="sub-brnd">
                             <a href="">HP</a>
                             <a href="">DELL</a>
                             <a href="">LG</a>
                             <a href="">Samsung</a>
                             <a href="">Sony</a>
                             <a href="">Toshiba</a>

                        </div>
                    </div>

                </div> 
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="product.html">HP Laptop</a>
                            <a href="product.html">
                                <img class="medium" src="./images/Laptops-hp-Pro-Book-300x275.jpg" alt="product-1">
                            </a>
                            <div class="pro-body">
                                <div class="product-price">
                                    $1200 
                                </div>
                                <div>
                                    <details></details>
                                </div>
                                <div>
                                    <button>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <a href="product.html">Canon EOS Camera</a>
                            <a href="product.html">
                                <img class="medium" src="./images/Canon-EOS-Rebel-T3i.jpg" alt="product-2">
                            </a>
                            <div class="pro-body">
                                <div class="product-price">
                                    $900 
                                </div>
                                <div>
                                    <details></details>
                                </div>
                                <div>
                                    <button>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <a href="product.html">Pro Video Camera</a>
                            <a href="product.html">
                                <img class="medium" src="./images/professional-video-camera.jpg" alt="product-3">
                            </a>
                            <div class="pro-body">
                                <div class="product-price">
                                    $5000 
                                </div>
                                <div>
                                    <details></details>
                                </div>
                                <div>
                                    <button>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <a href="product.html">HTC-Google Phone</a>
                            <a href="product.html">
                                <img class="medium" src="./images/HTC-Google-Nexus-One-2.jpg" alt="product-4">
                            </a>
                            <div class="pro-body">
                                <div class="product-price">
                                    $520 
                                </div>
                                <div>
                                    <details></details>
                                </div>
                                <div>
                                    <button>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <a href="product.html">Nokia Windows Tablet</a>
                            <a href="product.html">
                                <img class="medium" src="./images/nokia-windows-200-dollar-tablet2-640x353.jpg" alt="product-5">
                            </a>
                            <div class="pro-body">
                                <div class="product-price">
                                    $1000 
                                </div>
                                <div>
                                    <details></details>
                                </div>
                                <div>
                                    <button>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <a href="product.html">Dell Laptop</a>
                            <a href="product.html">
                                <img class="medium" src="./images/Dell-Inspiron-R-Special-Edition.jpg" alt="product-6">
                            </a>
                            <div class="pro-body">
                                <div class="product-price">
                                    $1100 
                                </div>
                                <div>
                                    <details></details>
                                </div>
                                <div>
                                    <button>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </li>
                     
                    
                </ul>
          
             
            </div>

        </main>
        <footer>All rights reserved @ 2022</footer>
    </div> 
     
</body>
</html>